.MMM-PomoDone {
  margin: 2rem auto;
  padding: 2rem 0;
}

.MMM-PomoDone .MMM-PomoDone {
  margin: 0;
  padding: 0;
}

.MMM-PomoDone .timer {
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
  color: #cd2a2e;
}

.MMM-PomoDone .timer span {
  font-weight: 300;
  font-size: 84px;
}

.MMM-PomoDone .task-name {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 28px;
  max-width: 33.33%;
  margin: 2rem auto;
  line-height: 30px;
}

.row {
  position: relative;
  padding: 1px;
  border-bottom: solid 1px #222;
  min-height: 35px;
  min-width: 300px;
}
